<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cargos</title>
</head>
<body>
<h1>Cargos Cadastrados</h1>

<div th:if="${cargos.isEmpty()}">
    <p>Nenhum cargo cadastrado ainda.</p>
</div>

<table border="1" th:unless="${cargos.isEmpty()}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Setor</th>
        <th>Vale Alimentação</th>
        <th>Vale Transporte</th>
        <th>Plano Saúde</th>
        <th>Plano Odonto</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cargo : ${cargos}">
        <td th:text="${cargo.id}">1</td>
        <td th:text="${cargo.setor}">ALMOXARIFADO</td>
        <td th:text="${cargo.valeAlimento}">800.00</td>
        <td th:text="${cargo.valeTransporte}">500.00</td>
        <td th:text="${cargo.planoSaude}">5000.00</td>
        <td th:text="${cargo.planoOdonto}">4000.00</td>
    </tr>
    </tbody>
</table>

<br/>
<a href="/cargos/form">Adicionar Novo Cargo</a>
</body>
</html>