<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${funcionario.idFuncionario == null ? 'Adicionar Novo Funcionário' : 'Editar Funcionário'}">Adicionar Novo Funcionário</title>
</head>
<body>
<h1 th:text="${funcionario.idFuncionario == null ? 'Adicionar Novo Funcionário' : 'Editar Funcionário'}">Adicionar Novo Funcionário</h1>

<form th:action="@{/funcionarios}" th:object="${funcionario}" method="post">
    <input type="hidden" th:field="*{idFuncionario}" />

    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" required/><br/><br/>

    <label for="salarioBruto">Salário Bruto:</label>
    <input type="number" id="salarioBruto" th:field="*{salarioBruto}" step="0.01" required/><br/><br/>

    <label for="idade">Idade:</label>
    <input type="number" id="idade" th:field="*{idade}" required/><br/><br/>

    <label>Gênero:</label><br/>
    <input type="radio" id="generoM" th:field="*{genero}" th:value="'M'" required/>
    <label for="generoM">Masculino</label><br/>
    <input type="radio" id="generoF" th:field="*{genero}" th:value="'F'" required/>
    <label for="generoF">Feminino</label><br/><br/>

    <label for="cargo">Cargo:</label>
    <select id="cargo" th:field="*{cargo.id}" required> <option value="">Selecione um Cargo</option>
        <option th:each="c : ${cargos}"
                th:value="${c.id}"
                th:text="${c.setor}">Nome do Cargo</option> </select><br/><br/>

    <button type="submit">Salvar Funcionário</button>
</form>

<br/>
<a href="/funcionarios">Voltar para a Lista de Funcionários</a>
</body>
</html>