<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${servico.idServico == null ? 'Adicionar Novo Serviço' : 'Editar Serviço'}">Adicionar Novo Serviço</title>
</head>
<body>
<h1 th:text="${servico.idServico == null ? 'Adicionar Novo Serviço' : 'Editar Serviço'}">Adicionar Novo Serviço</h1>

<form th:action="@{/servicos}" th:object="${servico}" method="post">
    <input type="hidden" th:field="*{idServico}" />

    <label for="data">Data do Serviço:</label>
    <input type="date" id="data" th:field="*{data}" required/><br/><br/>

    <label for="status">Status:</label>
    <select id="status" th:field="*{status}" required>
        <option value="">Selecione o Status</option>
        <option th:each="enumValue : ${statusOptions}"
                th:value="${enumValue}" th:text="${enumValue.name()}">Status Enum</option>
    </select><br/><br/>

    <label for="tipoServico">Tipo de Serviço:</label>
    <select id="tipoServico" th:field="*{tipoServico}" required>
        <option value="">Selecione o Tipo</option>
        <option th:each="enumValue : ${tipoServicoOptions}"
                th:value="${enumValue}" th:text="${enumValue.name()}">Tipo Serviço Enum</option>
    </select><br/><br/>

    <label for="funcionario">Funcionário:</label>
    <select id="funcionario" th:field="*{funcionario}" required>
        <option value="">Selecione um Funcionário</option>
        <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.idFuncionario}" th:text="${funcionario.nome}">Funcionário</option>
    </select><br/><br/>

    <label for="transportadora">Transportadora:</label>-->
   <select id="transportadora" th:field="*{transportadora}" required>-->
      <option value="">Selecione uma Transportadora</option>-->
     <option th:each="transportadora : ${transportadoras}" th:value="${transportadora.id}" th:text="${transportadora.nome}">Transportadora</option>
   </select><br/><br/>

    <button type="submit">Salvar Serviço</button>
</form>

<br/>
<a href="/servicos">Voltar para a Lista de Serviços</a>
</body>
</html>