<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${transportadora.id == null ? 'Adicionar Nova Transportadora' : 'Editar Transportadora'}">Adicionar Nova Transportadora</title>
</head>
<body>
<h1 th:text="${transportadora.id == null ? 'Adicionar Nova Transportadora' : 'Editar Transportadora'}">Adicionar Nova Transportadora</h1>

<form th:action="@{/transportadoras}" th:object="${transportadora}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" required/><br/><br/>

    <label for="cnpj">CNPJ:</label>
    <input type="text" id="cnpj" th:field="*{cnpj}" required/><br/><br/>

    <label for="localAtendimento">Local de Atendimento:</label>
    <input type="text" id="localAtendimento" th:field="*{localAtendimento}" required/><br/><br/>

    <button type="submit">Salvar Transportadora</button>
</form>

<br/>
<a href="/transportadoras">Voltar para a Lista de Transportadoras</a>
</body>
</html>